html, body {
	margin: 0;
	padding: 0;
	background: #222;

}

body {
	width: 100%;
	height: 100%;
	background: #222;
}


#app {
	text-align: center;
	background: #222;
}

.img-title {
	position: absolute;
	bottom: 10px;
}

.img-caption {
	position: absolute; 
	bottom: 2em;
	width: 80%;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	margin-left: 10%;
}
.img-slider {
	overflow-x: scroll;
	display: flex;
}
.main-content {
	margin-left: 6em;
}
.img-content {
	display:inline-block;
	position: relative;
}

.img-content:before {
	content: '\00a0';
	display: block;
	position:absolute;
	width:100%;
	height:100%;
	/*background:#f00;*/
	/*pointer-events: none;*/
}

img {
	max-width: 100vw;
	max-height:100vh;
}
.date-link {
	display: inline-block;
	width:2em;
	height:2em;
	border: 1px solid #fff;
	line-height: 2em;
	color: #fff;
	margin: 0.25em 0.5em;
	font-size:200%;
}
.date-nav {
	padding-bottom:50vh;
}
.app-container {
	width: 100%;
	height: 100%;
}

.nav-container {
	position: absolute;
	height: 100%;
	overflow-y: scroll;
}
#nav-logo {
	width: 4em;
}

.test-logo-path {
	fill: #aaa;
}
